/* Container principal */
.login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f9fdf6; /* Cor de fundo clara */
}

/* Seção do logo */
.logo-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right:#DEFAE4 0.6px solid;
}

.logo {
  width: 100;
  margin-bottom: 20px;
}

/* Container principal da tela */
.container {
  display: flex;
  height: 98vh;
  background-color: #f8fdf8; /* Fundo geral */
}

/* Seção de login */
.login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-color: #ffffff; /* Fundo branco para a seção de login */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombras leves para destacar a seção */
}

/* Estilos do texto */
.login-section h2 {
  font-size: 1.8rem;
  color: #34a853;
  margin-bottom: 6px;
  text-align: left;
  width: 100%;
}

.login-section p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0; /* Remove qualquer margem superior padrão do subtítulo */
  margin-bottom: 32px; /* Espaçamento abaixo do subtítulo */
  text-align: left;
  width: 100%;
}

/* Botão de login */
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #DEFAE4;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #888888;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 500px;
}

.google-login-btn img {
  width: 20px;
  margin-right: 10px;
}

.google-login-btn:hover {
  background-color: #DEFAE4;
}

/* Logo e área à esquerda */
.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fdf8; /* Fundo leve para a área do logo */
}
