.sidebar {
  position: fixed; // Fixa a sidebar na tela
  top: 0; // Alinha ao topo
  left: 0; // Alinha ao lado esquerdo
  width: 240px; // Define a largura fixa
  height: 100vh; // Ocupa toda a altura da viewport
  background-color: #f6fdf5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden; // Garante que o conteúdo interno não crie scroll na sidebar

  .logo {
    width: 150px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 10px 0;

      button {
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Ícone e texto alinhados à esquerda */
        border: none; /* Remove a borda */
        border-radius: 10px;
        font-size: 16px;
        color: #888888;
        padding: 10px 20px; /* Ajustado para espaçamento proporcional */
        font-weight: 400;
        width: 100%; /* Preenche a largura do container */
        background-color: transparent; /* Fundo transparente */
        cursor: pointer;


        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        &:hover {
          color: #defae4;
          background-color: #1d9c3d;
        }
      }
    }
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ícone e texto alinhados à esquerda */
    margin-top: 200%; /* Alinha o botão "Sair" ao final da sidebar */

    border: none; /* Remove a borda */
    border-radius: 10px;
    font-size: 16px;
    color: #888888;
    padding: 10px 20px; /* Igual aos botões da lista */
    font-weight: 400;
    width: 100%; /* Preenche a largura do container */
    background-color: transparent; /* Fundo transparente */
    cursor: pointer;

    &:hover {
      color: #defae4;
      background-color: #1d9c3d;
    }
  }
}
